<template>
    <div id="content" class="app-content" role="main">
        <div class="app-content-body ">
            <div class="hbox hbox-auto-xs hbox-auto-sm">
                <!-- main -->
                <div class="col">
                    <!-- main header -->
                    <div class="bg-light lter b-b wrapper-md">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <h1 class="m-n font-thin h3 text-black">รายงานตัวชี้วัด  </h1>
                            </div>
                        </div>
                    </div>
                    <!-- / main header -->
                    <div class="wrapper-md">
                        <div class="row">
                            <form>
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            รายการ
                                        </div>
                                        <table class="table-responsive table table-bordered">
                                            <thead>
                                            <tr class="footable-header">
                                                <th class="col-md-1">ขั้นตอนที่</th>
                                                <th>ชื่อตัวชี้วัด</th>
                                                <th class="col-md-1">หน่วยวัด</th>
                                                <th class="col-md-1">เป้าหมาย</th>
                                                <th class="col-md-2">ผลการดำเนินงาน</th>
                                                <th class="col-md-1">แนบไฟล์</th>
                                                <th class="col-md-1">คำสั่ง</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <template v-for="(indicator , key)  in indicators" >
                                                <tr class="info" :key="key">
                                                    <td></td>
                                                    <td>
                                                        <span class="font-bold">{{ indicator.detail }}</span><br/>
                                                        <span v-for="(subDetail , key) in indicator.sub_details" :key="key">- {{ subDetail.detail }}</span><br/>
                                                    </td>
                                                    <td>{{ indicator.type ? indicator.type.name : '-' }}</td>
                                                    <td>{{ indicator.target }}</td>
                                                    <td>
                                                        <input v-if="indicator.isPercent || indicator.isCount" type="text" name="score" placeholder="คำตอบ" class="form-control" v-model="data[indicator.choices[0].id].answer"/>
                                                    </td>
                                                    <td>
                                                        <input type="file" name="file" v-if="indicator.isPercent || indicator.isCount" @change="processFile(indicator.choices[0].id, $event)" />
                                                        <div class="m-t" v-if="(indicator.isPercent || indicator.isCount) && data[indicator.choices[0].id].file != null">
                                                            <a :href="urlFile + '/' + data[indicator.choices[0].id].file">
                                                                <span class="fa fa-file-pdf-o text-danger m-r-sm" style="font-size: 20px;"></span> ดาวน์โหลด
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="btn btn-black" v-if="indicator.isPercent || indicator.isCount" @click="submitRecord(indicator.choices[0].id)">บันทึก</span>
                                                    </td>
                                                </tr>

                                                <tr class="active" v-for="(choice, index) in indicator.choices" :key="choice.id" v-if="indicator.isStep || indicator.isStepEdit">
                                                    <td>{{ index+1 }}</td>
                                                    <td>{{ choice.detail }}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td >
                                                        <label class="i-checks" v-if="indicator.isStep">
                                                            <input type="checkbox" :true-value="1" :false-value="0" v-model="data[choice.id].answer"><i></i>
                                                        </label>

                                
                                                        <input v-if="indicator.isStepEdit" type="text" name="score" placeholder="คำตอบ" class="form-control" v-model="data[choice.id].answer">

                                                    </td>
                                                    <td>
                                                        <input type="file" name="file" @change="processFile(choice.id, $event)"/>
                                                        <div class="m-t" v-if="data[choice.id].file != null">
                                                            <a :href="urlFile + '/' + data[choice.id].file">
                                                                <span class="fa fa-file-pdf-o text-danger m-r-sm" style="font-size: 20px;"></span> ดาวน์โหลด
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="btn btn-black" @click="submitRecord(choice.id)">บันทึก</span>
                                                    </td>
                                                </tr>
                                            </template>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-right m-b">
                                        <span class="text-danger m-r">**กรณีตรวจสอบความถูกต้องครบทุกตัวแล้ว</span>
                                        <!--
                                        <span class="btn btn-black btn-addon" @click="submitForm()">
                                            <i class="fa fa-send-o"></i>ส่งรายงานทั้งหมด
                                        </span>
                                        -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- / main -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'indicators',
            'transactionChoices',
            'urlFile',
            'indicatorChoices'
        ],
        created () {
//            for(let i=0;i<this.transactionChoices.length;i++) {
//                this.frmAnswer['ans-' + this.transactionChoices[i].indicator_choice_id] = this.transactionChoices[i].score;
//                this.frmFileDownload['file-' + this.transactionChoices[i].indicator_choice_id] = this.transactionChoices[i].path_file;
//            }

            for(let i=0;i<this.indicatorChoices.length;i++) {
                let item = {
                        answer: this.indicatorChoices[i].answer,
                        file: this.indicatorChoices[i].path_file
                };

                this.data = {...this.data, [this.indicatorChoices[i].id]: item};
            }
        },
        data () {
            return {
                data: {},
                frmFile: [],
            }
        },
        methods: {
            processFile(id, e) {
                this.frmFile['file-' + id] = e.target.files[0];
            },

            submitRecord (id) {
                let data = new FormData();
                data.append('file', this.frmFile['file-' + id]);
                data.append('id', id);
                data.append('answer', this.data[id].answer);

                console.log(this.data[id].answer);

                axios.post('./ajax/indicator/save-record', data).then(res => {
                    alert(res.data.message);

                    this.data[id].file = res.data.filename;
                }).catch(error => {
                    alert('มีบางอย่างผิดพลาด ไม่สามารถบันทึกได้');
                });
            },
            submitForm () {
                console.log(this.frmAnswer);
                console.log(this.frmFile);
            }
        }
    }
</script>
